@model IEnumerable<clothshop2.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    var cats = (List<Category>)ViewData["MyData"];

}
@using Microsoft.AspNetCore.Identity
@using clothshop2.Areas.Identity.Data

@inject SignInManager<clothshop2.Areas.Identity.Data.clothshop2User> SignInManager
@inject UserManager<clothshop2.Areas.Identity.Data.clothshop2User> UserManager
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home"><img class="logo-style" src="https://img.freepik.com/premium-vector/fashion-beauty-logo-design-concept_96807-1625.jpg" /> Fashionista</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home">Home</a>
                </li>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu">


                        @foreach (var c in cats)
                        {
                            <li><a class="dropdown-item" href="/Home/Products/@c.Id">@c.Name</a></li>
                        }
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ViewCart" asp-route-id="@User.Identity.Name">
                        Your Cart
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="position-absolute top-1 start-5 translate-middle badge rounded-pill bg-danger">
                            @ViewBag.count
                        </span>

                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity?.Name!</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-danger text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        &nbsp;&nbsp;<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
<br />
<br />
<br />
@foreach(var m in Model){
<section id="product-info">

    <div class="item-image-parent">
        <div class="item-list-vertical">
          

        </div>
        <div class="item-image-main">
            <img src="/img/@m.imgName" alt="default" />
        </div>
    </div>
  
    <div class="item-info-parent">
        <!-- main info -->
            <br />
            <br />
        <div class="main-info">
            <h2>@m.Name</h2>
            <br />
            <div class="star-rating">
            </div>
            <br />
            <h4>Type : @m.description</h4>
            <br />
            <h3>Price: <span id="price">@m.Price L.E</span></h3>
        </div>
        
        <!-- Choose -->
        <div class="select-items">

            <div class="change-color">
               
            </div>

            <div class="change-size">
                <label><b>Size:</b></label><br>
                <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>2XL</option>
                </select>
            </div>
            <br />
            <div class="description">
                <h3>Additional Information :</h3>
                <ul>
                    <li>Care Instructions: Machine Wash</li>
                    <li>Material: Cotton</li>
                    <li>Pattern: Solid</li>
                </ul>
            </div>
            <br />
                <form action="/Home/Cart" method="post">
                    <input type="hidden" name="username" value="@User.Identity.Name" />
                    <input type="hidden" name="productname" value="@m.Name" />
                    <input type="hidden" name="price" value="@m.Price" />
                    <input type="hidden" name="type" value="2" />
                    <input type="hidden" name="proid" value="@m.Id" />

                    <input type="hidden" name="id" value="@m.Catid" />
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-dark" type="submit">Add To Cart</button>
                            <a class="btn btn-danger" asp-action="Products" asp-route-id="@m.Catid">Go Back</a>

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                </form>

            </div>
        <!-- Description -->
    </div>
</section>

                    }